In [1]:
import pandas as pd

In [4]:
engage = pd.read_csv('takehome_user_engagement.csv', encoding='latin')

In [34]:
#engage.head(50)

In [52]:
users = pd.read_csv('takehome_users.csv', encoding='latin')

In [20]:
activeUsers = engage.groupby('user_id').agg('count')

In [22]:
activeUsers = activeUsers[activeUsers['visited']>2]

In [25]:
engage['shifted'] = engage.groupby(['user_id'])['time_stamp'].shift(2)

In [28]:
import datetime
engage['time_stamp']= pd.to_datetime(engage['time_stamp'])
engage['shifted']=pd.to_datetime(engage['shifted'])
engage['time_diff']=engage['time_stamp']-engage['shifted']

In [30]:
engage = engage[engage['time_diff']<datetime.timedelta(days=3)]

In [32]:
activeUser = engage.user_id.unique()

In [33]:
activeUser

array([   10,    20,    42, ..., 11969, 11975, 11988])

In [53]:
users.head(20)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0
10,11,2013-12-26 03:55:54,Paulsen Malthe,MaltheAPaulsen@gustr.com,SIGNUP,1.388117e+09,0,0,69,NaN
11,12,2014-04-17 23:48:38,Mathiesen LÃ¦rke,LaerkeLMathiesen@cuvox.de,ORG_INVITE,NaN,0,0,130,9270.0
12,13,2014-03-30 16:19:38,Fry Alexander,AlexanderDFry@cuvox.de,ORG_INVITE,1.396196e+09,0,0,254,11204.0
13,14,2012-10-11 16:14:33,Rivera Bret,BretKRivera@gmail.com,SIGNUP,1.350058e+09,0,0,0,NaN
14,15,2013-07-16 21:33:54,Theiss Ralf,RalfTheiss@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,175,NaN
15,16,2013-02-11 10:09:50,Engel RenÃ©,ReneEngel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,211,NaN
16,17,2014-04-09 14:39:38,Reynolds Anthony,AnthonyReynolds@jourrapide.com,GUEST_INVITE,1.397314e+09,1,0,175,1600.0
17,18,2013-08-24 00:26:46,Gregersen Celina,CelinaAGregersen@jourrapide.com,GUEST_INVITE,NaN,0,0,2,3153.0
18,19,2013-05-24 14:56:36,Collins Arlene,ArleneRCollins@gmail.com,SIGNUP,1.369926e+09,1,0,0,NaN
19,20,2014-03-06 11:46:38,Helms Mikayla,lqyvjilf@uhzdq.com,SIGNUP,1.401364e+09,0,0,58,NaN

In [56]:
users['engaged'] = users['object_id'].apply(lambda x: 1 if x in activeUser else 0)

In [57]:
users = users.sort_values('creation_time')

In [60]:
users.shape

(12000, 11)

In [61]:
users.columns

Index(['object_id', 'creation_time', 'name', 'email', 'creation_source',
       'last_session_creation_time', 'opted_in_to_mailing_list',
       'enabled_for_marketing_drip', 'org_id', 'invited_by_user_id',
       'engaged'],
      dtype='object')

In [62]:
users.describe()

,object_id,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,engaged
count,12000.00000,8.823000e+03,12000.000000,12000.000000,12000.000000,6417.000000,12000.000000
mean,6000.50000,1.379279e+09,0.249500,0.149333,141.884583,5962.957145,0.101833
std,3464.24595,1.953116e+07,0.432742,0.356432,124.056723,3383.761968,0.302442
min,1.00000,1.338452e+09,0.000000,0.000000,0.000000,3.000000,0.000000
25%,3000.75000,1.363195e+09,0.000000,0.000000,29.000000,3058.000000,0.000000
50%,6000.50000,1.382888e+09,0.000000,0.000000,108.000000,5954.000000,0.000000
75%,9000.25000,1.398443e+09,0.000000,0.000000,238.250000,8817.000000,0.000000
max,12000.00000,1.402067e+09,1.000000,1.000000,416.000000,11999.000000,1.000000

In [75]:
col_to_keep = ['opted_in_to_mailing_list','enabled_for_marketing_drip', 'engaged']

In [76]:
users1 = users[col_to_keep]

In [77]:
X = users1.drop('engaged', axis=1)
y = users1['engaged']

In [78]:
size = len(y)
cutoff = int(0.75*size)
x_train, x_test, y_train, y_test = X.iloc[:cutoff,:], X.iloc[cutoff:,:],y[:cutoff], y[cutoff:]

In [79]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(9000, 2)
(3000, 2)
(9000,)
(3000,)

In [80]:
from sklearn.linear_model import LogisticRegression

In [82]:
logisticRegr = LogisticRegression()
logisticRegr.fit(x_train, y_train)


predictions = logisticRegr.predict(x_test)
score = logisticRegr.score(x_test, y_test)
print(score)

0.971

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [83]:
from sklearn import metrics
cm = metrics.confusion_matrix(y_test, predictions)
print(cm)

[[2913    0]
 [  87    0]]

In [85]:
from sklearn.utils import resample
# upsample minority
train = users1.iloc[:cutoff,:]

# separate minority and majority classes
major = train[train.engaged==0]
minor = train[train.engaged==1]

minor_upsampled = resample(minor,
                          replace=True, # sample with replacement
                          n_samples=len(major), # match number in majority class
                          random_state=27) # reproducible results

upsampled = pd.concat([major, minor_upsampled])

In [89]:
x_train = upsampled.drop('engaged', axis=1)
y_train = upsampled['engaged']

In [90]:
logisticRegr = LogisticRegression()
logisticRegr.fit(x_train, y_train)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [91]:
predictions = logisticRegr.predict(x_test)
score = logisticRegr.score(x_test, y_test)
print(score)
cm = metrics.confusion_matrix(y_test, predictions)
print(cm)

0.6956666666666667
[[2069  844]
 [  69   18]]

In [92]:
## Import the random forest model.
from sklearn.ensemble import RandomForestClassifier 
## This line instantiates the model. 
rf = RandomForestClassifier() 
## Fit the model on your training data.
rf.fit(x_train, y_train) 
## And score it on your testing data.
rf.score(x_test, y_test)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.6956666666666667

In [93]:
feature_importances = pd.DataFrame(rf.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance',  ascending=False)

In [94]:
feature_importances

                            importance
enabled_for_marketing_drip    0.807643
opted_in_to_mailing_list      0.192357

Logistic Regression and Random Forest Classifier are eto tackle this classification problem. Due to the imbalanced nature of classes, I upsampled the minority class. The feature importance reveals that enabled_for_marketing_drip is the dominant factor in predicting the future user adoption. Next steps includes using XGBoost and CV grid search or other optimization techniques.